{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'routes/style.css' %}"
    />
    <title>{% block title %}TAVERN{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="app">
      <header>
        <div class="header-first-row">
          <img
            src="{% static 'routes/wt.png' %}"
            alt="SKG"
            width="80px"
          />
          <h1 class="title">White Tower Tavern</h1>
        </div>
        <nav class="navbar">
          <a class="nav-item" href="{% url 'index' %}">Home</a>
          <a class="nav-item" href="{% url 'ingredient_list' %}">Ingredients</a>
          <a class="nav-item" href="{% url 'menu_items' %}">Menu Items</a>
          <a class="nav-item" href="{% url 'purchases' %}">Purchases</a>
          <a class="nav-item" href="{% url 'revenue' %}">Revenue</a>
        </nav>
      </header>
      <main>{% block content %}{% endblock %}</main>
    </div>
  </body>
</html>
